@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name,
abbr.compass{
	white-space: nowrap;
}

[epub|type~="subtitle"]{
	font-variant: small-caps;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: small-caps;
	text-transform: lowercase;
}
